html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiTextField-root::after {
  border-bottom: unset;
}

.MuiInputBase-root-MuiInput-root {
  border-bottom: unset
}

.MuiInputBase-root-MuiInput-root::before {
  border-bottom: unset
}


.MuiInputBase-root-MuiInput-root::after {
  border-bottom: unset
}

* {
  box-sizing: border-box;
}

.MuiTextField-root {
  color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
